body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.btn-test {
  background-color: green;
  color: white;
}



.my-dropdown .dropdown-toggle {
  background-color: #ff6600; /* Turuncu arkaplan */
  color: white;
  border: none;
}

.my-dropdown .dropdown-toggle:active {
  background-color: #be4c00; /* Turuncu arkaplan */
  color: white;
  border: none;
}
.my-dropdown .dropdown-item:hover {
  background-color: #ff66003a;
}

